body {
    background-size: 60% 90%;
    background-color: #ECE0CD;
}
div.create {
    width: 800px;
    text-align: center;
    padding: 30px;
    border-bottom: 1px solid #999;
    margin: auto;
}
table {
    height: 300px;
    width: 900px;
    border-top: 5px dashed white;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    margin-top: 80px;
    font-size: large;
    font-weight: bold;
}

h1 {
    text-align: center;
    color: white;
    margin-top: 70px;
    font-size: 120px;
    text-shadow: 3px 3px 3px gray;
    font-weight: bold;
}
td {border-bottom: 1px dotted #999;}
caption {text-align: center;}
.col1 {
    background-color: #e8e8e8;
    padding: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 0.8em;
    border: none;
}
.col2 {
    text-align: left;
    padding: 5px;
}
.but1 {
    height: 25px;
    width: 80px;
    color: #999;
    background-color: beige;
    border-color: beige;
}
.but2 {
    height: 27px;
    width: 120px;
    color: #999;
    background-color: beige;
    border-color: beige;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type = "submit"], input[type = "reset"] {
    height: 35px;
    width: 200px;
    background-color: beige;
    border: 2px solid #999;
    border: none;
}

input[type = "submit"] {
    margin-right: 20px;
}

.but1:hover {
    background-color: #b9b9b9;
    color: black;
    border: 2px solid black;
}
.but2:hover {
    background-color: #b9b9b9;
    color: black;
    border: 2px solid black;
}
.but3:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}
.but4:hover {
    background-color: black;
    color: white;
    border: 2px solid black;
}
p {font-size: 0.7em;}
.g {font-size: 0.7em;}
.c {font-size: 0.7em;}
.a {font-size: 0.7em;}
.num {color: red;}